<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
		<meta charset="UTF-8"></meta>
		<title>FARMACIAS</title>	

		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>		

		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>		

		<script
			src="maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		

		<script src="code.jquery.com/jquery-1.11.1.min.js">
		</script>		

	</head>


	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<a style="border-bottom-color: rgb(64, 0, 64)" th:href="@{/farmacia/irRegistrar}"
							id="add-row" type="button" class="btn btn-primary btn-md left block">
							<span class="glyphicon gliphicon-plus">Agregar Farmacia</span>
						</a>
						
						<table class="table table-bordered table-hover table-striped" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">CODIGO</th>
									<th class="text-center">NOMBRE DE LA FARMACIA</th>
									<th class="text-center">ELIMINAR</th>
									<th class="text-center">MODIFICAR</th>
									
								</tr>
							</thead>
							<TBODY>
								<tr th:each="far: ${listaFarmacias}">
									<td th:text="${far.idFarmacia}"></td>
									<td th:text="${far.nombreFarmacia}"></td>
									<td><a th:href="@{/farmacia/eliminar?id=}+${far.idFarmacia}">Eliminar</a></td>
									<td><a th:href="@{'/farmacia/modificar/'}+${far.idFarmacia}">Modificar</a></td>
								</tr>
							</TBODY>
						</table>
						
					</div>
				</div>
				<div th:if="${mensaje}" class="alert alert-danger">
					<p th:text="${mensaje}"></p>
				</div>
			</form>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>