<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
		<meta charset="UTF-8"></meta>
		<title>REPARTIDORES</title>	

		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>	

		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">

		</link>


		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

		
		<script type="text/javascript" th:src="@{/js/race.js}"></script>	

	</head>


	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<form th:action="@{/repartidor/registrar}" method="post" th:object="${repartidor}">
				<div class="form-group">
				
					<label for="idrepartidor">ID:</label>
					<input type="text" class="form-control" th:field="*{idRepartidor}"></input>
					
					<div class="form-group">
															
						<label for="usuario" class="col-sm-2 col-form-label"></label> USUARIO:
						<select class= "from-control" th:field= "*{usuario.idUsuario}">
						<option th:each="us: ${listaUsuarios}" th:value= "${us.idUsuario}" th:text="${us.nombreUsuario}"
								th:selected="(${us.idUsuario}== *{usuario.idUsuario})">
						</option>
						</select>
						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/repartidor/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>